.div-main-header {
    text-align: right;
    font-size: 0.8em;
    padding-top: 10px;
    padding-right: 10px;
}
  
.div-menu-bar {
    border-bottom: 1px solid #e5e5e5;
    padding: 0px 10px;

    td {
        text-align: center;
    }

    .shop-title {
        text-align: left;
    }

    .menu {
        text-decoration: none;
        color: #343a40;
    }
}

.title-div {
    padding: 10px;
}
  
